.dataRight {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to top right,
    rgba(65%, 64%, 90%, 0.8) 0%,
    rgba(34%, 33%, 83%, 1) 90%
  );
  width: 25%;
}

.dataRight__CityCountry {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-left: 2rem;
}

.dataRight__CityCountry__Info {
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
}

.dataRight__Search__Location {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.dataRight__Search__Location:hover {
  transform: scale(1.1);
}

.dataRight__Search {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.dataRight__Search__Input {
  border: none;
  border-bottom: 1.5px solid lightgray;
  background-color: transparent;
  width: 70%;
  margin-left: 2.5rem;
  color: white;
}

.dataRight__Search__Input:focus {
  border-color: inherit;
  /* -webkit-box-shadow: none;
  box-shadow: none; */
  outline: none;
  color: white;
}

.dataRight__Search__Button {
  height: 170%;
  width: 10%;
  border-radius: 7px;
  border-style: none;
  cursor: pointer;
  background: linear-gradient(
    to top,
    rgba(34%, 33%, 83%, 1) 0%,
    rgba(65%, 64%, 90%, 0.8) 90%
  );
  margin-left: 0.5rem;
  transition: 0.3s ease-out;
}

.dataRight__Search__Button:hover {
  transform: scale(1.1);
}

.dataRight__ClockPaart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.dataRight__ClockPaart__Sun {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dataRight__ClockPaart__Sun__Head {
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.dataRight__ClockPaart__Sun__Time {
  color: white;
  font-size: 1.1rem;
  font-weight: 300;
  margin-top: 1rem;
}

.dataRight__InfoBreak {
  display: flex;
  margin-top: 2rem;
  margin-left: 3rem;
}

.dataRight__InfoBreak__BreakLine {
  border-bottom: 1.5px solid white;
  width: 80%;
  margin-right: 1.1rem;
}

.dataRight__Details {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin-left: 3.1rem;
  margin-top: 1.4rem;
}

.dataRight__Details__Categories {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dataRight__Details__Categories__Cat,
.dataRight__Details__Infos__Cat {
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.dataRight__Details__Infos {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
