.dataCard {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-right: 5rem;
  width: 40%;
  height: 11rem;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: rgb(219, 174, 255);
}

.dataCard__Temperature,
.dataCard__Day {
  color: white;
  font-size: 1.5rem;
}

.dataCard__Icon {
  object-fit: contain;
}
