* {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow-x: hidden;
}

.app__Top {
  display: flex;
  width: 100%;
}

.app__Top__Error {
  width: 75%;
  object-fit: fill;
}
